@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">
            <br />
            <br />
            Welcome, @User.Identity.Name
        </h1>
        <a class="nav-link text-dark" asp-controller="Clients" asp-action="Index">
            <button type="submit" class="btn btn-primary">View Clients</button>
        </a>
    </div>
}
else
{
<div class="text-center">
    <h1 class="display-4">
        <br />
        <br />
        Welcome! Please
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        or
        <a asp-area="Identity" asp-page="/Account/Login">Log In</a>
    </h1>
</div>
}


