@model IEnumerable<ClientTracker.Models.Disorder>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Common Mental Disorders</h1>

<form asp-controller="Disorders" asp-action="Index">
    <input type="text" class="form-control-sm" name="SearchString">
    <input class="btn btn-outline-primary btn-sm" type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="form-group">
                    <select class="form-control" asp-items="ViewBag.ClientId"></select>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
